<!DOCTYPE html>
<html lang="pt-BR">


{% include "parciais/cabecalho.html" %}
{% include "parciais/head.html" %}
{% include "parciais/estilo.html" %}

<body>
    {% include "parciais/buscador.html" %}
    <main class="principal-conteudo-container">
        <div class="principal-conteudo-lista">
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
            <div class="temp">senai</div>
    </main>
</body>

</html>